<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/logo-dark.png" alt="" height="22">
                    </span>
                </a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Copyright
                    <script>document.write(new Date().getFullYear())</script> © Kout All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>